.carousel {
  text-align: center;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-container {
  display: flex;
  position: relative;
}

.carousel img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333333ad;
  color: #eee;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}