@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --fonte: 'Roboto Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-image: url(imagens/fundo.jfif);
    background-size: cover;
    background-attachment: fixed;
}

main {
    max-width: 700px;
    margin: auto;
    position: relative;
}

section {
    position: sticky;
    top: 0;
}

section.imagem {
    margin: 20px 10px;
    height: 100vh;
    max-width: 700px;
    background-position: center;
    background-size: 700px 100vh;
    background-attachment: fixed;
}

@media (max-width: 700px) {
    section.imagem {
        background-size: cover;
    }
}

section > p {
    color: white;
    font-variant: small-caps;
    background-color: rgba(44, 44, 44, 0.697);
    text-align: center;
    padding: 15px;
    font-family: var(--fonte);
    font-size: 3em;
}

#banner {
    background-image: url(imagens/banner.jpg);
}

#carimbo {
    background-image: url(imagens/carimbo.jpg);
}

#encadernacao {
    background-image: url(imagens/encadernacao.jpg);
}

#copias {
    background-image: url(imagens/copias.jpg);
}