#carousel-area {
  width: 100%;
  height: auto;
  background-color: var(--cor-principal);
}

#carousel-container {
  max-width: 500px;
  height: 300px;
  background-color: var(--cor-principal);
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

.carousel-button {
  height: 100%;
  width: 100px;
  background-color: #333333b8;
  color: #eee;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.carousel-button:hover {
  filter: brightness(1.5);
}

#carousel {
  display: block;
}

#carousel-img {
  display: flex;
  width: 300px;
  transition: transform 0.3s;
}

#carousel img {
  width: 100%;
}