@charset "UTF-8";

:root{
    --cor-botao: #5dafb8;
}

@media screen and (max-width: 768px) {
    #botao {
        display: flex;
        position: absolute;
        left: 15px;
        padding: 7px;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        background-color: #333;
        font-size: 1.5em;
        color: #fff;
        background-color: var(--cor-botao);
        border-radius: 50%;
        user-select: none;
    }
    menu {
        display: none;
        width: 100%;
    }
    #menu li a {
        padding-left: 20px;
    }
}

@media screen and (max-width: 550px) {
    #botao {
        position: initial;
        margin-right: 10px;
    }
    #carousel-img {
        width: 240px;
    }
    #carousel-container {
        height: 240px;
        max-width: 410px;
    }
}   