fieldset {
  padding: 5px 10px 10px 10px;
  border: 2px solid #205b69;
  display: flex;
  flex-direction: column;
}

fieldset:nth-child(2) {
  margin-top: 15px;
}

legend {
  padding: 0 7px 0 7px;
  color: #205b69;
  font-weight: 600;
}

form p {
  position: relative;
  margin: 20px 0 10px 10px;
}

label {
  position: absolute;
  color: #205a699d;
  top: 7px;
  left: 10px;
  pointer-events: none;
  transition: 0.3s ease all;
}

form p input, textarea, select {
  padding: 7px;
}

input:focus ~ label,
textarea:focus ~ label,
select:focus ~ label,
.valid ~ label {
  top: -20px;
  left: 0;
  font-size: 0.95em;
  color: #205b69;
}

textarea {
  width: 100%;
  height: 7em;
  resize: none;
}

label[for="attachImg"] {
  display: inline-block;
  position: static;
  pointer-events: all;
  cursor: pointer;
  margin: 10px;
  border: none;
  background-color: #c1f9ff;
  color: #205a69cb;
  padding: 15px;
}

label[for="attachImg"]:hover {
  outline: 2px solid #205b69;
}

#attachImg {
  display: none;
}

form button {
  margin: 10px 25px;
  padding: 10px 30px;
  border: 2px solid #205b69;
  background-color: #c1f9ff;
  color: #205b69;
  transition: .15s;
  cursor: pointer;
}

form button:hover {
  background-color: #205b69;
  color: #c1f9ff;
}

#conteudo > p:last-child {
  margin-top: 10px;
  text-indent: 0;
  font-style: italic;
  font-size: 1em;
}