:root {
  --primary-color: #205b69;
  --second-color: #c1f9ff;

}

fieldset {
  padding: 5px 10px 10px 10px;
  border: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

fieldset:nth-child(2) {
  margin-top: 15px;
}

legend {
  padding: 0 7px 0 7px;
  color: var(--primary-color);
  font-weight: 600;
}

form p {
  position: relative;
  margin: 20px 0 10px 10px;
}

label {
  position: absolute;
  color: #205a699d;
  top: 7px;
  left: 10px;
  pointer-events: none;
  transition: 0.3s ease all;
}

form p input, textarea, select {
  padding: 7px;
}

form p input {
  width: 300px;
}

form p select {
  width: 170px;
}

select option {
  background-color: #eef5f7;
  color: var(--primary-color);
}

input:focus ~ label,
textarea:focus ~ label,
select:focus ~ label,
.valid ~ label {
  top: -20px;
  left: 0;
  font-size: 0.95em;
  color: var(--primary-color);
}

textarea {
  width: 100%;
  height: 7em;
  resize: none;
}

#files {
  width: 100%;
  display: flex;
  padding: 10px;
}

label[for="attachImg"] {
  display: flex;
  position: static;
  pointer-events: all;
  cursor: pointer;
  border: none;
  background-color: var(--second-color);
  color: #205a69cb;
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

label[for="attachImg"]:hover {
  outline: 2px solid var(--primary-color);
}

#attachImg {
  display: none;
}

#files {
  flex-direction: column;
  gap: 10px;
}

#files p {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-style: italic;
  font-size: 0.9em;
}

#fileList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 25px;
}

#fileList li {
  font-size: 0.95em;
}

#resetListBtn {
  display: none;
  margin: 10px 0 0 0;
  padding: 10px 0;
  width: 150px;
  font-size: 0.9em;
  background-color: #ff405d0a;
  color: rgba(202, 7, 30, 0.787);
  font-weight: bold;
  border: none;
  outline: 1px solid #ed1c4279;
}

#resetListBtn:hover {
  background-color: #ff405d23;
  outline: 2px solid #ed1c4279;
}

form button {
  margin: 10px 25px;
  padding: 10px 30px;
  border: 2px solid var(--primary-color);
  background-color: var(--second-color);
  color: var(--primary-color);
  transition: .15s;
  cursor: pointer;
}

form button:hover {
  background-color: var(--primary-color);
  color: var(--second-color);
}

#conteudo > p:last-child {
  margin-top: 10px;
  text-indent: 0;
  font-style: italic;
  font-size: 1em;
}


@media screen and (max-width: 768px) {
  form p input {
    width: 70%;
  }
}
@media screen and (max-width: 550px) {
  form p input {
    width: 100%;
  }
}   