@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


:root {
    --fonte-titulo: 'Rubik', sans-serif;
    --font-subtitulo: 'Montserrat', sans-serif;
    --cor-header: #5dafb8;
    --cor-principal: #205b69;
    --cor-shadow-h1: #ede3ca8a;
    --fonte-h1: 'Alkatra', cursive;
    --fonte-p: 'Roboto Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: var(--cor-principal);
}

/* CABEÇALHO */

header {
    background-image: linear-gradient(to bottom, var(--cor-header), var(--cor-principal) 98%);
    padding: 15px;
    text-align: center;
    user-select: none;
}

header h1 {
    font-family: var(--fonte-titulo);
    font-size: 2.4em;
    color: #eee;
    text-shadow: 1px 1px 4px var(--cor-shadow-h1);
    text-transform: uppercase;
}

header p {
    font-family: var(--font-subtitulo);
    font-size: 1.05em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);
}

/* MENU DE NAVEGAÇÃO */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: -1px;
    background-color: var(--cor-principal);
    text-align: center;
    box-shadow: 0px 2px 2px #1a46525f;
    overflow: hidden;
}

nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav li {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    height: 2.3px;
    width: 0;
    border-radius: 999px;
    background-color: #5dafb8;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

#botao {
    display: none;
}

/* CONTAINER: Aside + Main */

#container {
    display: flex;
    height: max-content;
}

/* PRINCIPAL: Onde vai ficar o conteudo */

main {
    background-color: #fefefe;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
    border-radius: 0 0 10px 10px;
    margin: 0 10px;
    padding: 0 10px 10px 10px;
    width: 100%;
    overflow: hidden;
}

main > h1 {
    background-image: linear-gradient(to bottom, var(--cor-principal), var(--cor-header));
    color: #eee;
    text-shadow: 0 2px 1px var(--cor-principal);
    font-family: var(--fonte-h1);
    font-size: 2em;
    padding: 3px 20px;
    margin-bottom: 10px;
}

main > p {
    text-indent: 20px;
    text-align: justify;
    margin: 0 5px 10px 5px;
    line-height: 1.5em;
    font-family: var(--fonte-p);
    font-size: 1.1em;
}

/* Imagens */

#itens {
    width: 100%;
    padding: 10px 0 10px 0;
    background-image: linear-gradient(to left, #fff, var(--cor-principal), #fff);
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

#itens div:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.483);
}

#itens div {
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}

#itens span {
    display: inline-block;
    color: white;
    background-color: #333333c9;
    text-align: center;
    font-size: 1.5em;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px black;
    padding: 20px;
    margin-top: 15px;
    width: 100%;
}

#carimbo {
    background: url(../imagens/carimbo.jpg) no-repeat;
}

#encadernacao {
    background: url(../imagens/encadernacao.jpg) no-repeat;
}

#copia {
    background: url(../imagens/copias.jpg) no-repeat;
}


/* MENU LATERAL */

menu {
    min-width: 200px;
}

/* MENU: Menu Lateral */

#menu li {
    list-style: none;
}

#menu li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid black;
    color: white;
    background-color: #333;
    text-decoration: none;
    font-size: 0.9em;
}

#menu li a:hover {
    background-color: #4e4e4e;
}

/* MENU: Horario */

#horario {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px #7b7b7b;
    background-color: #aaaaaa;
    color: #fff;
    user-select: none;
}

#horario h1 {
    font-size: 1.3em;
    padding: 5px;
    background-color: #333;
    margin: -10px -10px 5px -10px;
}

#horario h2 {
    font-size: 1.15em;
    margin-bottom: 2px;
    color: #333;
    font-weight: bold;
}

#horario p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 0.95em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.724);
}

#open-close span{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.276);
}

.openned span {
    color: #008000;
}

.closed span {
    color: #ff0000;
}

.almost-closed-openned span {
    color: #ffa500;
}

/* RODAPÉ */

footer {
    background-color: #35393c;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    color: #fff;
}
