iframe {
  width: 100%;
  height: 400px;
}

#conteudo a {
  font-style: italic;
  text-align: center;
  font-size: 0.95em;
  color: #205b69;
  text-decoration: none;
  font-weight: bold;
}

#conteudo a p {
  padding: 10px;
}

#conteudo {
  height: max-content;
}

#conteudo a {
  margin: 0;
}

#map-area {
  margin: 15px;
}